*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

.text{
    text-align: center;
    margin: 20px 0;
    border: solid 2px;
}

.btnn {
    text-align: right;
    /* display: block; */
}
.btnn button{
    padding: 5px;
}
ul li{
    text-align: center;
}
.btns{
    text-align: center;
}
.btns button{
padding: 5px;
}
.taxt{
    text-align: center;
}
.buttons{
align-items: right;
margin: 0 0 0 50px;
border: none;
font-size: 20px;
color: red;
background: none;
}





